a:hover {
    text-decoration: none;
    cursor: pointer;
}

.work {
    transition: .5s ease;
    /* width: 1000px; */
    height: 250px;
    border: 3px solid grey;
}

.work-1 {
    background-image: url("../../images/project-1.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 13%;
}

.work-2 {
    background-image: url("../../images/work-1.png");
    background-size: cover;
    background-position: top;
    margin-left: 5%;
}

.work-3 {
    background-image: url("../../images/work-2.png");
    background-size: cover;
    background-position: top;
    margin-left: 13%;
}

.work-4 {
    background-image: url("../../images/work-3.png");
    background-size: cover;
    background-position: top;
    margin-left: 5%;
}

.work-5 {
    background-image: url("../../images/work-4.png");
    background-size: cover;
    background-position: top;
    margin-left: 13%;
}

.work-6 {
    background-image: url("../../images/work-5.png");
    background-size: cover;
    background-position: top;
    margin-left: 5%;
}

.work-7 {
    background-image: url("../../images/work-6.jpg");
    background-size: cover;
    background-position: top;
    margin-left: 13%;
}

.work-8 {
    background-image: url("../../images/work-7.jpg");
    background-size: cover;
    background-position: top;
    margin-left: 5%;
}

/* Below are the designs for showing project title when hover the selection */
.work:hover .title {
    opacity: 1;
    display: block;
}

.work:hover {
    background-image: url("../../images/bc-image.png");
}

.title {
    display: none;
    color: white;
    transition: .5s ease;
    text-align: center;
}

.title-1 {
    margin-top: 50px;
}

@media screen and (max-width: 576px) {
    .work-title {
        margin-left: auto;
        margin-right: auto;
    }

    .work {
        margin-left: 9%;
    }
}