nav {
    box-shadow: 0 4px 2px -2px gray;
    background-color: rgb(236, 233, 233);
}

.navbar-brand {
    margin-left: 50px;
}

img {
    font-size: 50%;
}

.navbar-collapse {
    margin-right: 30px;
    font-size: 120%;
}

.nav-link {
    cursor: pointer;
}

/* @media screen and (max-width: 576px) {
    .navbar-brand {
        margin-left: 90px;
    }

    .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
} */